.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Inicio - Modificado */
.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);  
}

#Dark {
  background-color: #282c34;
  color: white;
}
#Dark a{
  color: white;
}

#Light {
  background-color: #f2f4f6;
  color:#0d3f67;
}

.list li{
  display:inline-block;
  padding-left:3px;
  padding-right:3px;
}
/* Fin Modificado */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
